# Data Conversion

In [3]:
x = "20"
print(int(x))
type(x)
print(type())

20

str

In [8]:
y = 20
yy = str(y)
print(yy)
type(yy)

20

str

In [10]:
f = 3.9
print(int(f))
print(type(int(f)))

3
<class 'int'>

In [11]:
print(float(x))
print(type(float(x)))

20.0
<class 'float'>

In [17]:
set_to_tuple = tuple({10, 20, 40, 'ali'})
print("set to tuple is :", set_to_tuple, type(set_to_tuple))
print()

tuple_to_set = set((10,'amir', 'ali', 20, 'amir', 10))
print("tuple to set is :", tuple_to_set, type(tuple_to_set))
print()

list_to_set = set([10, "reza", 59.5, 41])
print("list to set is :", list_to_set, type(list_to_set))

set to tuple is : (40, 10, 'ali', 20) <class 'tuple'>

tuple to set is : {'ali', 10, 'amir', 20} <class 'set'>

list to set is : {41, 10, 59.5, 'reza'} <class 'set'>

In [18]:
lst = [2, [2, 2]] # list is unhashable
print(set(lst))

TypeError: unhashable type: 'list'

In [19]:
lst_ = [2, (2, 2)] # tuple is hashable so we have don't error
print(set(lst_))

{2, (2, 2)}

In [20]:
# Converting List to Dic

In [1]:
# as we know dic based on value key so it is necessary to consider it in other data type
# example
list_ = ["Iran","Tehran", "France", "Paris", "Deutschland", "Berlin"]
print(dict(list_))

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [22]:
# As you see in above list-sample occur error
# example 2
list_1 = [("Iran","Tehran"), ("France", "Paris"), ("Deutschland", "Berlin")]
print(dict(list_1))

{'Iran': 'Tehran', 'France': 'Paris', 'Deutschland': 'Berlin'}

In [34]:
tuple_1 = (("Iran","Tehran"), ("France", "Paris"), ("Deutschland", "Berlin"))
tuple_to_dic = dict(tuple_1)
print(" tuple to dic is :", tuple_to_dic)

 tuple to dic is : {'Iran': 'Tehran', 'France': 'Paris', 'Deutschland': 'Berlin'}

In [ ]:
# dic to list

In [32]:
dic_ = dict(list_1)
print(dic_)
print()
print(dic_.items())
print()
dic_to_lsit = list(dic_.items())
print(dic_to_lsit)

{'Iran': 'Tehran', 'France': 'Paris', 'Deutschland': 'Berlin'}

dict_items([('Iran', 'Tehran'), ('France', 'Paris'), ('Deutschland', 'Berlin')])

[('Iran', 'Tehran'), ('France', 'Paris'), ('Deutschland', 'Berlin')]

## Loops for Dictionaries

In [6]:
dic_ = {'Iran': 'Tehran',
        'France': 'Paris',
        'Germany': 'Berlin'}

print(dic_)

{'Iran': 'Tehran', 'France': 'Paris', 'Germany': 'Berlin'}

In [8]:
dic_.keys()

dict_keys(['Iran', 'France', 'Germany'])

In [11]:
for k in dic_.keys():
    print(f'The capital of {k} is {dic_[k]}')

The capital of Iran is Tehran
The capital of France is Paris
The capital of Germany is Berlin

In [12]:
for v in dic_.values():
    print(v)

Tehran
Paris
Berlin

In [14]:
for i in dic_.items():
    print(i)

('Iran', 'Tehran')
('France', 'Paris')
('Germany', 'Berlin')

In [16]:
# unpacking a sequence a data type 

item_1, item_2 = ("Germany", "Berlin")
print (item_1, item_2, sep = '\n')

Germany
Berlin

In [15]:
for items in dic_.items():
    print(f'Key: {items[0]} and value: {items[1]}')

Key: Iran and value: Tehran
Key: France and value: Paris
Key: Germany and value: Berlin

In [27]:
# another way

for key, value in dic_.items():
    print(f'Key: {key} and value: {value}')

Key: Iran and value: Tehran
Key: France and value: Paris
Key: Germany and value: Berlin

## Task 1

Create a new dictionary like capitals in which keys and values are replaced.

In [45]:
dic_1 = {'Iran': 'Tehran',
        'France': 'Paris',
        'Germany': 'Berlin',
        'United Kingdom': 'London'}

reversed_dic = dict()

for key, value in dic_1.items():
    reversed_dic[value] = key
    
x = '\n'
print (f'Dictionary is : {x}{x} {dic_1}')
print()
print(f'Reversed dictionary is :{x}{x} {reversed_dic}')

Dictionary is :

 {'Iran': 'Tehran', 'France': 'Paris', 'Germany': 'Berlin', 'United Kingdom': 'London'}

Reversed dictionary is :

 {'Tehran': 'Iran', 'Paris': 'France', 'Berlin': 'Germany', 'London': 'United Kingdom'}

## Task 2 (enumerate)
print all elements in capitals except the one which comes first

In [72]:
# ansewer 1

dic_2 = {'Iran': 'Tehran',
        'France': 'Paris',
        'Germany': 'Berlin',
        'Spain': 'Madrid',
        'United Kingdom': 'London'}
count = 0
dic_3 = dict()

for k, v in dic_2.items():
    if count == 0:
        count += 1
        continue
    else :
        dic_3[k] = v
        print(count, k, v)
        count += 1
print()        
print(dic_3)

1 France Paris
2 Germany Berlin
3 Spain Madrid
4 United Kingdom London

{'France': 'Paris', 'Germany': 'Berlin', 'Spain': 'Madrid', 'United Kingdom': 'London'}

In [55]:
lst = [1,'ali', '5', 10]

for en, i in enumerate(lst):
    print(en, '>>>', i)

0 >>> 1
1 >>> ali
2 >>> 5
3 >>> 10

In [71]:
lst = [1,'ali', '5', 10]

for en, i in enumerate(lst, 3):
    print(en, '>>>', i)

3 >>> 1
4 >>> ali
5 >>> 5
6 >>> 10

In [70]:
lst = ['1','ali', '5']

valid ='0123456789'

for en, i in enumerate(lst):
    for j in i:
        if j not in valid :
            continue
        print(en, '>>>', j)

0 >>> 1
2 >>> 5

In [79]:
# Task 2 (ansewer 2)

dic_2 = {'Iran': 'Tehran',
        'France': 'Paris',
        'Germany': 'Berlin',
        'Spain': 'Madrid',
        'United Kingdom': 'London'}

for en, (k, v) in enumerate(dic_2.items()):
    if en == 0:
        continue
    print (en, k, v)
    
print()        
print(dic_3)

1 France Paris
2 Germany Berlin
3 Spain Madrid
4 United Kingdom London

{'France': 'Paris', 'Germany': 'Berlin', 'Spain': 'Madrid', 'United Kingdom': 'London'}

In [80]:
dic_4 = {'Iran': 'Tehran',
        'France': 'Paris',
        'Germany': 'Berlin',
        'Spain': 'Madrid',
        'United Kingdom': 'London',
        'USA': "Washington DC"}

for en, tuple_ in enumerate(dic_4.items()) :
    print(en, tuple_)

0 ('Iran', 'Tehran')
1 ('France', 'Paris')
2 ('Germany', 'Berlin')
3 ('Spain', 'Madrid')
4 ('United Kingdom', 'London')
5 ('USA', 'Washington DC')

In [2]:
#  Zip and enumerate

In [4]:
lst1 = [1, 10, 5, -1]
lst2 = [4, 13, 0, -6]

lst = []

for l_1, l_2 in zip(lst1, lst2):
    lst.append(l_1 + l_2)
    print (l_1, 'and', l_2)

print()
print(lst)

1 and 4
10 and 13
5 and 0
-1 and -6

[5, 23, 5, -7]

In [7]:
lst1 = [1, 10, 5, -1]
lst2 = [4, 13, 0, -6]
lst3 = [6, -8, -5, 10]

lst = []

for en, (l_1, l_2, l_3) in enumerate(zip(lst1, lst2, lst3)):
    if en == 0:
        continue
    lst.append(l_1 + l_2 + l_3)

print(lst)

[15, 0, 3]