## Comprehension

##### single line structure (for loop : if ):
variable-name=if-output    if-condition    else   else-output

In [1]:
x = 10
if x == 1:
    y = 20
else:
    y = 10

print(y)

10

In [3]:
# Single line

x = 5

y = 20 if x == 1 else 7

print(y)

7

In [4]:
# if elif else

x = 1
y = 2

output = '=' if x == y else "<" if x < y else '>'

print(output)

<

In [7]:
val = 9

output = " val is biger than 10" if val > 10 else 'val is equal 10' if val == 10 else 'val is lower than 10 '

print(output)

val is lower than 10

In [19]:
# for-loop in list
#Structure : variable_name = [output for-loop]

lst = []
for i in range(10):
    lst.append(i**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
lst_ = []
lst_ = [i**2 for i in range(10)]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
lst1 = []

for i in range(10):
    if i % 2 == 0:
        lst1.append(i**3)
print(lst1)

[0, 8, 64, 216, 512]

In [28]:
# The numbers one to nine are raised to the power of tree and put into a list:
# This code in single line works only for ifs with no else statement
#variable_name = [output for-loop condition]

lst2 = []
lst2 = [i**3 for i in range(10) if i % 2 == 0]
print(lst2)

[0, 8, 64, 216, 512]

In [35]:
# condition with if and else statement
lst3 = []
lst3 =[i**2 if i % 2 == 0 else -i for i in range(10, 20)]
print(lst3)

[100, -11, 144, -13, 196, -15, 256, -17, 324, -19]

In [60]:
lst4 = []

for i in range(10, 20):
    if i % 2 == 0:
        lst4.append(i**2)
    else :
        lst4.append(-i)
print(lst4)

[100, -11, 144, -13, 196, -15, 256, -17, 324, -19]

In [59]:
# nested list

nest_listt = [[(k1, k2) for k2 in range(1, 4)] for k1 in range(10,15)]
nest_listt

[[(10, 1), (10, 2), (10, 3)],
 [(11, 1), (11, 2), (11, 3)],
 [(12, 1), (12, 2), (12, 3)],
 [(13, 1), (13, 2), (13, 3)],
 [(14, 1), (14, 2), (14, 3)]]

In [58]:
nest_listtt = [[(k1, k2) for k2 in reversed(range(0, 5))] for k1 in range(0, 5)]
nest_listtt

[[(0, 4), (0, 3), (0, 2), (0, 1), (0, 0)],
 [(1, 4), (1, 3), (1, 2), (1, 1), (1, 0)],
 [(2, 4), (2, 3), (2, 2), (2, 1), (2, 0)],
 [(3, 4), (3, 3), (3, 2), (3, 1), (3, 0)],
 [(4, 4), (4, 3), (4, 2), (4, 1), (4, 0)]]

In [57]:
listt = []

for k1 in range(0,5):
    for k2 in range(0,5):
        listt.append((k1,k2))
listt

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [56]:
listtt = []  
listtt = [(k1, k2) for k1 in range(0,5) for k2 in range(0,5)]
listtt

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [63]:
# Dcitionary
dic = dict()

for i in range(30):
    if i % 3 == 0:
        dic[i] = i**2

dic

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729}

In [67]:
single_line_dic = dict()
single_line_dic = {i:i**2 for i in range(30) if i % 3 == 0}
single_line_dic

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729}

In [70]:
key =[1, 2, 3, 4, 5]
value =['a','b','c','d','e']

dictt = {k: v for k,v in zip(key, value)}
dictt

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [77]:
val = ['a','b','c','d','e']
{en: v for en,v in enumerate(val)}

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [74]:
{x.upper(): x*3 for x in ['Amin', 'reza']}

{'AMIN': 'AminAminAmin', 'REZA': 'rezarezareza'}

In [82]:
age_dict = {'fereshteh': 20, 'reza': 65, 'pooya': 28, 'ali': 57, 'zahra': 33}

dictt = {name: "old" if age > 40 else "young" for (name, age) in age_dict.items()}
print(dictt)

{'fereshteh': 'young', 'reza': 'old', 'pooya': 'young', 'ali': 'old', 'zahra': 'young'}

In [83]:
nest_dic ={k1: {k2: k1*k2 for k2 in range(5)} for k1 in range(5)}
nest_dic

{0: {0: 0, 1: 0, 2: 0, 3: 0, 4: 0},
 1: {0: 0, 1: 1, 2: 2, 3: 3, 4: 4},
 2: {0: 0, 1: 2, 2: 4, 3: 6, 4: 8},
 3: {0: 0, 1: 3, 2: 6, 3: 9, 4: 12},
 4: {0: 0, 1: 4, 2: 8, 3: 12, 4: 16}}

In [88]:
sett = {j for j in [1, 2, 4, 3, 3, 2, 2, 4] if j % 2 == 0}
listt = [i for i in [1, 2, 4, 3, 3, 2, 2, 4] if i % 2 == 0]
print(sett)
print(listt)

{2, 4}
[2, 4, 2, 2, 4]

In [90]:
# tuple comprehension

tuple_ = (i for i in "Amin")
tuple_

In [93]:
tuple_ = tuple([i for i in "Amin"])
tuple_

('A', 'm', 'i', 'n')

### Exercise 1: create a new dictionary like capitals which the keys and values are replaced(using comprehensions)

capitals = {'Iran': 'Tehran','France': 'Paris','Italy': 'Rome'}

In [96]:
# ansewer
capitals = {'Iran': 'Tehran','France': 'Paris','Italy': 'Rome'}
reversed_capital = {value: key for key, value in capitals.items()}
reversed_capital

{'Tehran': 'Iran', 'Paris': 'France', 'Rome': 'Italy'}