In [1]:
dic = {
    "fizik" : {
    "sale1" : "15",
    "sale2" : "20",
    "sale3" : "10"
    },
    "riazi" : {
    "sale1" : "12",
    "sale2" : "14",
    "sale3" : "10"
    }
}

result= dic.get("fizik", {}).get("sale2", {'inn'})
result

'20'

In [15]:
str_ = '  4 m.hosSein.python f.miNa.C m.aHMad.C++ f.Sara.java  ' 
for ch1 in str_:
    ch1=str_.strip()
    clean = ch1.split('.')
    lower = clean[1][1:].lower()
    
ch1

print(clean)

print(lower)

['4 m', 'hosSein', 'python f', 'miNa', 'C m', 'aHMad', 'C++ f', 'Sara', 'java']
ossein

In [7]:
lst=['23', 'pooya','amin', '4','12']
for i in lst:
    if i[0] is int:
        list1.append(i)
    
    
print(list1)

[]

In [19]:
lst=['23', 'pooya','amin', '4','12']
for i in lst:
    if i.isdigit():
        i1=int(i)
        print(i , end=' ')

23 4 12

In [ ]:
lst=['23', 'pooya','amin', '4','12']
list1=[]
for i in lst:
    if type():
        i1=int(i)
        print(i , end=' ')

In [2]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527 ]
sorted_list=[]
for i in numbers:
    if i % 2 == 0 :
        sorted_list.append(i)
sorted_list.sort()
print(sorted_list)

[24, 58, 104, 162, 236, 248, 328, 344, 386, 412, 418, 462, 512, 566, 566, 626, 742, 758, 826, 866, 892, 894, 918, 950, 958, 978]

In [42]:
from collections import Counter
listt=[1, 5, 6, 1, 1, 's', 'S', 'pooya', "Pooya"]
Counter(listt)

Counter({1: 3, 5: 1, 6: 1, 's': 1, 'S': 1, 'pooya': 1, 'Pooya': 1})

In [61]:
lst=['11','pooya','10','10.5']
final=[]
for i in lst:
    try:
        i= int(i)
        final.append(i)
    except:
        pass
type(final[0])

int