In [11]:
Tuple = ((2,3,5), "ali", 2.9, 2)
Tuple_1=("reza", 1, (4,9))

print(Tuple[0][1:3])

print(Tuple*2)
print(Tuple + Tuple_1)

(3, 5)
((2, 3, 5), 'ali', 2.9, 2, (2, 3, 5), 'ali', 2.9, 2)
((2, 3, 5), 'ali', 2.9, 2, 'reza', 1, (4, 9))

In [12]:
print(("sfds2", *Tuple, *Tuple_1))

('sfds2', (2, 3, 5), 'ali', 2.9, 2, 'reza', 1, (4, 9))

In [13]:
Tuple_3 = ("sfds2", *Tuple, *Tuple_1)
Tuple_3

('sfds2', (2, 3, 5), 'ali', 2.9, 2, 'reza', 1, (4, 9))

In [14]:
len(Tuple_3)

8

In [15]:
tuple_ = (1,)
type(tuple_)

tuple

In [16]:
Tuple_4 = ((2,3,5), "ali", 2.9, 2, 56, 2)
value = 2
print(Tuple_4.count(value))
print()
print(f'The first index of item {value} is : {Tuple_4.index(value)}')

2

The first index of item 2 is : 3

In [17]:
set_ = {"amin", 1, 5, '7', "reza", "amin", '7', 5, 5}
print(set_)

{1, '7', 'amin', 5, 'reza'}

In [18]:
set_1 = {'reza', 7, 5}

print(set_ | set_1)
print(set_ ^ set_1)
print(set_ - set_1)
print(set_ & set_1)

{1, '7', 'amin', 5, 'reza', 7}
{1, 'amin', 7, '7'}
{1, '7', 'amin'}
{5, 'reza'}

In [19]:
print(len(set_))

5

In [20]:
list_ = [1, 4, 5, 'amir']

set_2  set(list_)
print(set_2)

SyntaxError: invalid syntax (3258411022.py, line 3)

In [21]:
list_ = [1, 4, 5, 'amir']

set_2 = set(list_)
print(set_2)

{1, 'amir', 4, 5}

In [22]:
set_2.add('ramin')
set_2

{1, 4, 5, 'amir', 'ramin'}

In [23]:
set_2.pop()
set_2

{4, 5, 'amir', 'ramin'}

In [24]:
set_2.pop()
set_2

{4, 5, 'ramin'}

In [25]:
set_2.pop('ramin')
set_2

TypeError: set.pop() takes no arguments (1 given)

In [26]:
set_2.add("Amir")

In [27]:
set_2

{4, 5, 'Amir', 'ramin'}

In [28]:
set_2.remove("amir")

KeyError: 'amir'

In [29]:
set_2

{4, 5, 'Amir', 'ramin'}

In [30]:
set_3 = {1, 3, 'ali', (2,'amir')}

In [31]:
set_3

{(2, 'amir'), 1, 3, 'ali'}

In [32]:
set_4 = {1, 4, [2, 'afs']}

TypeError: unhashable type: 'list'

In [33]:
set_4 = {1, 5, {2, 'a'}, 1}

TypeError: unhashable type: 'set'

## Dictionary

In [34]:
dic = {'Iran': 'Tehran',
       'Turkey': 'Ankara',
       'Deutschland': 'Berlin',
       'Frankreich': 'lisbon'}
# or 

dic_1 = dict( Iran = "Tehran", Turkey = "Ankara", Deutschland = 'Berlin', Italy = "Rome" )

print (dic, dic_1 , sep = '\n')

{'Iran': 'Tehran', 'Turkey': 'Ankara', 'Deutschland': 'Berlin', 'Frankreich': 'lisbon'}
{'Iran': 'Tehran', 'Turkey': 'Ankara', 'Deutschland': 'Berlin', 'Italy': 'Rome'}

In [35]:
dic["Spain"] = "Madrid"
print(dic)

{'Iran': 'Tehran', 'Turkey': 'Ankara', 'Deutschland': 'Berlin', 'Frankreich': 'lisbon', 'Spain': 'Madrid'}

In [36]:
dic["Frankreich"] = "Paris"

In [37]:
dic

{'Iran': 'Tehran',
 'Turkey': 'Ankara',
 'Deutschland': 'Berlin',
 'Frankreich': 'Paris',
 'Spain': 'Madrid'}

In [38]:
print(dic)

{'Iran': 'Tehran', 'Turkey': 'Ankara', 'Deutschland': 'Berlin', 'Frankreich': 'Paris', 'Spain': 'Madrid'}

In [39]:
del dic["Turkey"]
dic

{'Iran': 'Tehran',
 'Deutschland': 'Berlin',
 'Frankreich': 'Paris',
 'Spain': 'Madrid'}

In [40]:
dic.update(dic_1)

In [41]:
dic

{'Iran': 'Tehran',
 'Deutschland': 'Berlin',
 'Frankreich': 'Paris',
 'Spain': 'Madrid',
 'Turkey': 'Ankara',
 'Italy': 'Rome'}

In [42]:
dic.keys()

dict_keys(['Iran', 'Deutschland', 'Frankreich', 'Spain', 'Turkey', 'Italy'])

In [43]:
value = dic.get("Turkey", None)
print(value)

Ankara

In [44]:
value = dic.get("Germany", "False Key")
print(value)

False Key

In [45]:
dic

{'Iran': 'Tehran',
 'Deutschland': 'Berlin',
 'Frankreich': 'Paris',
 'Spain': 'Madrid',
 'Turkey': 'Ankara',
 'Italy': 'Rome'}

In [46]:
dic.values()

dict_values(['Tehran', 'Berlin', 'Paris', 'Madrid', 'Ankara', 'Rome'])

In [47]:
dic.items()

dict_items([('Iran', 'Tehran'), ('Deutschland', 'Berlin'), ('Frankreich', 'Paris'), ('Spain', 'Madrid'), ('Turkey', 'Ankara'), ('Italy', 'Rome')])

In [53]:
empty_dict = dict()
empty_dict_1 = {}
empty_set = set()
type(empty_dict) , type(empty_dict_1),type(empty_set)

(dict, dict, set)